.contactList {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactList > li {
  font-size: 20px;
  font-weight: 400;
  list-style: inside;
}

.contactList > li > button {
  margin-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  font-size: 15px;
}

.noContacts {
  margin-top: 20px;
  margin-left: 20px;
}
.error {
  margin-top: 20px;
  margin-left: 20px;
}

.loading {
  margin-top: 20px;
  margin-left: 20px;
}
